// sass --watch styles.scss styles.css

@font-face {
  font-family: DroidSans;
  src: url('fonts/droid-sans.ttf') format('truetype');
}

*:not(i) { // Change all fonts except icons
  font-family: DroidSans, Helvetica, sans-serif !important;
}

header {
  button.btn.action {
    background-color: #7d161e;
    color: white;
    width: 120px;
    height: 45px;
    font-weight: 600;
    font-size: 0.95em;
  }

  .nav-primary-top {
    height: 4em;
    max-width: 95%;
    margin: 0 auto;

    .btn.action {
      &:hover {
        background-color: #c81632;
        text-decoration: underline;
      }
    }

    #sidenavCollapse {
      font-weight: 600;
      border: none;

      i {
        margin-right: 5px;
      }
    }
  }

  .nav-primary-middle {
    height: 5em;

    img#logo {
      max-width: 400px;
    }
  }

  .nav-primary-bottom .nav-item a.nav-link {
    height: 3em;
    line-height: 3em;
    font-size: 15px;
    font-weight: 600;
    color: black;
    padding: 0 0.9em;

    &:hover {
      color: #c81632;
      text-decoration: underline;
    }
  }
}

body {

  #cookies {
    position: fixed;
    width: 40px;
    right: 12px;
    bottom: 110px;
  }
}

footer {
  font-family: DroidSans, Helvetica, sans-serif;
  padding-top: 2em;
  background-color: #f5f5f5;
  border-top: 1px solid #ababab;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .35) inset;

  .site-info .site-info-content {
    font-size: .84em;
    display: flex;
    flex-wrap: wrap;
    padding: 1.25em .625em;
    text-align: center;
    align-items: center;
    max-width: 100em;

    li {
      display: inline-block;
      line-height: 1.5;
      margin-right: 1em;

      // Remove the bullet points
      &::marker {
        display: none;
      }

      a {
        color: #5d5b5a;
        text-decoration: none;
      }
    }
  }
}