// sass watch styles.scss styles.css

@font-face {
  font-family: DroidSans;
  src: url('fonts/droid-sans.ttf') format('truetype');
}

*:not(i) { // Change all fonts except icons
  font-family: DroidSans, Helvetica, sans-serif !important;
}

header {
  button.btn.action {
    background-color: #7d161e;
    color: white;
    width: 120px;
    height: 45px;
    font-weight: 600;
    font-size: 0.95em;
  }

  .nav-primary-top {
    height: 4em;
    max-width: 95%;
    margin: 0 auto;

    .btn.action {
      &:hover {
        background-color: #c81632;
        text-decoration: underline;
      }
    }

    #sidenavCollapse {
      font-weight: 600;
      border: none;

      i {
        margin-right: 5px;
      }
    }
  }

  .nav-primary-middle {
    height: 5em;

    img#logo {
      max-width: 400px;
    }
  }

  .nav-primary-bottom .nav-item a.nav-link {
    height: 3em;
    line-height: 3em;
    font-size: 15px;
    font-weight: 600;
    color: black;
    padding: 0 0.9em;

    &:hover {
      color: #c81632;
      text-decoration: underline;
    }
  }
}